@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(124, 124, 217);
}

header {
    text-align: center;
    color: white;
    margin: 20px;
}

main {
    background-color: white;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 7px;
}

section#perguntas > div {
    padding-bottom: 15px;
}

section#perguntas {
    margin-bottom: 15px;
}